/* Mon compte */
#moncompte h2 {
	margin-top : 2em;
}


/* Facture */
#detail_facture li {
	list-style-type:none;
	padding : 0.5em;

}




#corps {
	padding-top: 2em;
	background : white;

}


#modifier img, #supprimer img{
	width : 30px;
}

#ajouter img {

	width : 40px;
}

#page {
	max-width: 1000px;
	min-width: 200px;
	margin: auto;
}

#bloc label, form label  {
	float: left;
	clear: left;
	margin: 4pt;
	text-align: right;
	font-weight : bold;
}

#contenu form label {
	width : 150px;	
}

.bloc_inscrip {
	float : left;
	clear : left;	
	margin-left : 10em;
	
}

* {
	font-family: helvetica;
	padding: 0px;
	margin: 0px;
}

body {
background-image: 	-webkit-radial-gradient(50% 50%, ellipse closest-side, white, lightblue 110%);
background-image:   -moz-radial-gradient(50% 50%, ellipse closest-side, white, lightblue 110%);
background-image:   -ms-radial-gradient(50% 50%, ellipse closest-side, white, lightblue 110%);
background-image:   -o-radial-gradient(50% 50%, ellipse closest-side, white, lightblue 110%);
background-image:   radial-gradient(50% 50%, ellipse closest-side, white, lightblue 110%); 
}


#contenu {
	background: white;
	padding: 1em;
}

#contenu h1 {
	background : #47a3da;
	border-radius : 0.5em;
	padding : 0.3em;
	color : white;
	margin-bottom : 0.8em;
	margin-left : 210px;
}

#contenu option,#contenu input,#contenu select,#contenu textarea,#file {
	color: #353730;
	font-size: 10pt;
	margin: 4pt;
	padding: 4pt;
	border: 1px #868A78 solid;
	border-radius: 4px;
}

#contenu input,#contenu select,#contenu textarea,#file {
	float: left;
}



span {
	float: left;
}




#formulaire {
	margin-left: 28%;
	margin-right: auto;
}

p {
	font-family: Arial, Verdana, sans-sherif;
	margin-left: 10px;
	margin-right: 10px;
}

h2 {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

#log {
	margin-left: 2em;
	color: white;
}

#footer {
	background-color: rgb(150, 150, 150);
	min-height: 8em;
	clear: both;
}

div#colonne_gauche,div#colonne_droite,div#contenu {
	min-height: 600px;
}

/* ----------- Mon Compte ----------- */
#moncompte table {
	border: 3px groove #47a3da;
	background : white;
	
}
#moncompte tr {
	border: 3px groove #47a3da;
	padding : 0.5em;
}
#moncompte th{
	background : #47a3da;
	padding : 0.5em;
	font-weight: bold;
	color : white;
}
#moncompte td {
	padding : 0.5em;
}

/* ----------- Messages ----------- */
#message_erreur, #message_warning, #message_info {
	padding: 20px;
	margin-top: 5px;
}

#message_erreur img, #message_warning img, #message_info img {
	float : left;
}

#message_erreur h3, #message_warning h3, #message_info h3 {
	float : left;
	margin : 1em 1em;
}

#message_erreur {
	background: #e87979;
	border: 3px groove #b32222;
}

#message_info
{
	background: white;
	border: 3px groove #47a3da;
}

#message_warning {
	background: orange;
	border: 3px groove darkorange;
}

#message_info:empty, #message_warning:empty , #message_erreur:empty { display: none }

/* ----------- Header ----------- */
#header {
	max-width: 1000px;
	min-width: 200px;
}

div#header h1 {
	position: absolute;
	margin: 1.4em;
	font-size: 3em;
}

/* ----------- Colonne contenu ----------- */
div#contenu {
	word-wrap: break-word;
}


/* ----------- Colonne Gauche ----------- */
div#colonne_gauche {
	float: left;
	word-wrap: break-word;
	margin-right : 15px;
}

div#colonne_gauche .bloc_inscrip {
	margin : 1em 3.5em!important;
}

div#colonne_gauche form{
	padding-left : 1em
}

div#colonne_gauche #bloc {
	float: left;
	clear: left;
	width: 200px;
	margin: 10px;
	 border-width:1px;
 border-style:solid;
 border-color:grey;
}

div#colonne_gauche ul{
	padding : 0.5em;
	font-size : 0.8em;
}

div#colonne_gauche ul form{
	text-align : center;
}

div#colonne_gauche li {
	list-style-type:none;
	padding : 0.5em;
}

div#colonne_gauche h3 {
	background : #47a3da;
	color: white;
	padding: 0.5em;
}

/* ----------- Affichage Mobile ----------- */
@media screen and (max-width: 480px) {
	div#contenu,div#colonne_gauche,div#colonne_droite {
		width: 100%;
		float: left !important;
		word-wrap: break-word;
	}
	div#colonne_gauche #bloc {
		width: 100%;
		margin: 0.5em 0 0.5em 0;
	}
	div#colonne_gauche,div#colonne_droite,div#contenu {
		min-height: 0px;
	}
	div#header h1 {
		position: absolute;
		margin: 1em;
		font-size: 1.5em;
	}
}


/* ----------- formulaire ----------- */

fieldset label {
	clear : left;
}

fieldset span, fieldset input{
	display: inline;
	margin-right : 10px;
	float : left;	
}
 
 fieldset {
 	border : 0px !important;
 }
 
 /* ajouts */
 
 table {
	font-family:Verdana,Calibri,Arial;
	font-size:0.9em;
	
	text-align:center; 
	padding:10px; 
	border-spacing:0; 
	border-collapse : collapse;
	-moz-border-radius:5px; 
	-webkit-border-radius:5px; 
	-khtml-border-radius:5px;		
	border: 1px solid black;
}

table tr td
{
	padding: 10px; /* Marge à l'intérieur des cellules, équivalent de cellpadding */
}
